.banner {
  background: url(assets/arka-plan.jpg) no-repeat center top;
}

.saat-sayi {
  height: 1px;
  background-color: rgb(190, 186, 186);
  margin-bottom: 10px;
}

#video-div {
  display: grid;
  margin: auto;

  background: rgb(226, 226, 226);
}

#video-div video {
  grid-column: 1;
  grid-row: 1;
  justify-content: center;
  width: auto;
}

#video-div canvas {
  grid-column: 1;
  grid-row: 1;
  justify-content: center;
}

#face-video {
  text-align: center;
  margin: 0 auto;
  width: 600px;
  height: 427px;
}

#face-canvas {
  text-align: center;
  margin: 0 auto;
  width: 400px;
  height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#analiz-yazi {
  text-align: center;
  font-weight: bolder;
  font-size: 32px;
  color: #ff8c00;
}

#oran-bari {
  font-size: 16px;
  -moz-transition: height 0.4s ease;
  -webkit-transition: height 0.4s ease;
  -o-transition: height 0.4s ease;
  transition: height 0.4s ease;
  text-align: center;
  background-color: #00947e;
}

.sayilar {
  font-weight: bolder;
  color: #ff8c00;
}

.header {
  text-align: center;
  margin: 15px auto;
  font-weight: bolder;
  color: #ff8c00;
  font-size: 32px;
}

.loader-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #fff;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}

.loader {
  height: 80px;
  width: 80px;
  display: flexbox;
}

.is-active {
  opacity: 0.9;
  z-index: 1;
}

.is-loading {
  position: relative;
}
